{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  }
}
