$board-height: 85vh;
$tetris-purple: rgba(118, 71, 245, 1);
$tetris-green: rgba(35, 214, 192, 1);
$tetris-red: #fc1576;
$tetris-blue: #0084ff;
$tetris-cyan: #00ddef;
$tetris-yellow: #fee800;

@function widthOfBoard() {
  @return $board-height / 2;
}

.board {
  height: 86vh;
  width: widthOfBoard();
  min-width: 56rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;

  .board-row {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1;
    .board-column {
      border-bottom: 0.1rem solid black;
      border-right: 0.1rem solid black;
      flex: 1;
    }
  }
}

.orange {
  background: orange;
}
.cyan {
  background: $tetris-cyan;
}
.blue {
  background: $tetris-blue;
}
.yellow {
  background: $tetris-yellow;
}
.green {
  background: $tetris-green;
}
.purple {
  background: $tetris-purple;
}
.red {
  background: $tetris-red;
}

.black {
  background: black;
}
