$board-height: 85vh;
$tetris-purple: #ac7ddc;
$tetris-green: #3c7b4a;
$tetris-red: #da3931;
$tetris-blue: #3e4598;
$tetris-cyan: #a0b3df;
$tetris-yellow: #f7df80;

@function widthOfBoard() {
  @return $board-height / 2;
}

.board {
  height: 56vh;
  width: 21vw;
  // min-width: 56rem;
  min-height: 58rem;
  max-width: 35.6rem;
  min-width: 32.3rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  border-top: 0.2rem solid white;
  border-left: 0.2rem solid white;
  background-color: rgba(0, 0, 0, 0.35);

  .board-row {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1;
    .board-column {
      border-bottom: 0.2rem solid white;
      border-right: 0.2rem solid white;
      flex: 1;
    }
  }
}

.orange {
  background: orange;
}
.cyan {
  background: $tetris-cyan;
}
.blue {
  background: $tetris-blue;
}
.yellow {
  background: $tetris-yellow;
}
.green {
  background: $tetris-green;
}
.purple {
  background: $tetris-purple;
}
.red {
  background: $tetris-red;
}

.black {
  background: black;
}
