$imgpath: '/client/img/tetris.jpg';
$bright-red: #be0712;
$light-red: #dc4d46;
$border-thickness: 0.2rem;
$login-container-height: 75vh;

@function borderRadiusCalc() {
  @return 10vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .login-container {
    height: 75vh;
    width: 25vw;
    min-width: 37.5rem;
    max-width: 45rem;
    display: flex;
    flex-flow: column;
    animation: moveInTop 2.5s;
    border: 0.2rem solid white;
    border-bottom-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border: $border-thickness solid white;
    background: white;

    .login-image-container {
      flex: 5;
      border-top-right-radius: borderRadiusCalc();
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 49% 100%;
      height: 100%;
      background-image: url(../img/tetris6.png);
      background-color: #9a413c;

      img {
        width: 100%;
        height: 100%;
        border-top-right-radius: borderRadiusCalc();
      }
    }

    .login-form-container {
      flex: 3;
      background-color: #ffffff;
      border-bottom-left-radius: borderRadiusCalc();
      display: flex;
      flex-flow: column;

      .login-logo {
        flex: 4;
        background-size: 100% 101%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/tetris_soviet_mindgame.png);
        background-color: #fff;
      }

      .login-input-container {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .login-input {
          border: 0;
          outline: 0;
          background: transparent;
          width: 75%;
          border-bottom: $border-thickness solid $bright-red;
          font-size: 1.8rem;
          color: black;
        }
      }

      .login-button-container {
        flex: 2;
        display: flex;
        justify-content: center;

        .login-error-button-container {
          display: flex;
          justify-content: space-between;
          width: 75.5%;

          div {
            display: flex;
            justify-content: flex-end;

            button {
              background-color: transparent;
              border: 0;
              height: 2.8rem;
              font-size: 1.8rem;
              color: $bright-red;
              border-bottom: $border-thickness solid $bright-red;
              border-right: $border-thickness solid $bright-red;
              border-left: $border-thickness solid $bright-red;
              border-bottom-left-radius: 1.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes moveOutDown {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(500rem);
  }
}
